html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: #eaecf1;
}

#id-container {
    display: flex;
    height: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

#id-users {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
}

#id-dialog {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.output {
    flex: 8;
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.output-mine {
    text-align: right;
}
.output-user {
    margin: 5px 0px;
    color: grey;
}
.output-msg {
    display: inline-block;
    max-width: 200px;
    margin: 5px 0px;
    color: black;
    font-size: 24px;
    padding: 5px;
    border: 1px solid #C1CDDA;
    border-radius: 5px;
}
.output-logout {
    text-align: center;
}
.input {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.input-area {
    flex: auto;
    resize: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.input-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
}
.input-img img {
    width: 100%;
}
.input-control {
    flex: 1;
    float: right;
}
.btn {
    float: right;
    padding: 10px;
    margin-left: 5px;
    background: white;
    border: 1px solid #C1CDDA;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
}
.btn:hover {
    color: #20A0FF;
    border: 1px solid #20A0FF;
}
